html,body{
    width: 100%;
    height: 100%;
}
.splash{
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.div-base{
    max-width: 100%;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
}
.div-base img{
    opacity: 0.9;
    width: 100%;
    height: 100%;
}
.centered {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-title{
    color: white;
    width: 100%;
    font-family: 'Bebas Neue', cursive;
}
.div-text-ban{
    width: 100%;
}
.second-div{
    margin: auto;
    margin-top: 0.8%;
    width: 100%;
}
.header-div{
    font-family: 'Scheherazade New', serif;
}
.card{
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
    padding: 0;
}

.card-title{
    font-family: 'Scheherazade New', serif;
}

.card-text {
    font-size: 18px;
    font-family: 'Scheherazade New', serif;
}
.section-carousel{
    height: 95%;
}
.section-carousel img{
    height: 100%;
}
#div-form{
    height: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
#div-form2{
    height: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
    background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
}

#div-form3{
    height: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

#div-form3 img{
    height: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
    width: 400px;
    height: 250px;
}

#div-btn{
    width: 50%;
    margin: auto;
}

#info{
    margin-top: 5px;

}
#cuerpo2{

    background: #3E5151;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}